<div class="show-main">
  <div class="show-contents">
    <%# 質問内容の表示 %>
    <div class="show-chat">
      <div class="show-chat__title">
        <%= @chat.title %>
      </div>
      <div class="show-chat__content">
        <%= @chat.content %>
      </div>
      <div class="show-chat__name">
        <%= @chat.name %>
      </div>
    </div>

    <%# 回答投稿フォームの表示 %>
    <div class="show-question-form">
      <%= form_with(model: [@chat, @question], local: true) do |form| %>
        <div class="show-question-form__heading">
          回答する
        </div>
        <div class="show-question-form__content">
          <%= form.text_area :content, placeholder: "回答する", rows: "4" %>
        </div>
        <div class="show-question-form__name">
          <%= form.text_field :name, placeholder: "投稿者名" %>
        </div>
        <div class="show-question-form__submit">
          <%= form.submit "POST" %>
        </div>
        <% end %>    
      </div>

      <%# 回答一覧の表示 %>
      <div class="show-questions">
        <div class="questions-heading">
          いままでの回答：
        </div>
        <% @questions.each do |question| %>
          <div class="question-content">
            <div class="question-content__text">
              <%= question.content %>
            </div>
            <div class="question-content__name">
              <%= question.name %>
            </div>
          </div>
        <% end %>
      </div>  
  </div>
</div>